* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";

}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}

header {
    background: linear-gradient(to top, rgb(0, 0, 70) 80%, rgb(67, 63, 99));
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#menu_icon {
    display: none;
}

.logo img {
    width: 80%;
    height: 9vh;
    padding: 3%;
    margin-left: 15%;
    cursor: pointer;
}

.nav-links {
    flex-wrap: wrap;
    margin-right: 5%;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links ul li {
    font-size: clamp(0.5rem, 0.714vw + 0.271rem, 1.3rem);

}

.nav-links ul li a {
    color: white;
    text-decoration: none;
}


.hero-section img {
    width: 100%;
    height: 90vh;
    filter: blur(1px) brightness(0.6);
    position: relative;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    object-position: bottom;
}

.hero-section {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative;
}

.hero-content {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 50%;
    text-align: center;
    color: white;
}


.hero-content h3 {
    font-size: clamp(1.5rem, 0.86vw + 1.225rem, 2.4rem);
    line-height: 1.2;
    margin-bottom: 3%;
}

.hero-content p {
    font-size:clamp(0.8rem, 0.478vw + 0.647rem, 1.3rem);
    margin-bottom: 3%;

}


.left-shape {
    z-index: 1;
    position: absolute;
    top: 92.5%;
    left: 0;
    width: 20rem;
    height: 5rem;
    background: linear-gradient(to top, rgb(0, 0, 70) 90%, rgb(9, 0, 75));
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
    border: 1px solid black;
    border: none;
    transform: rotate(-10deg);
}

.right-shape {
    z-index: 1;
    position: absolute;
    top: 70%;
    right: 1%;
    width: 20rem;
    height: 5rem;
    background: linear-gradient(to top, rgb(0, 0, 70) 90%, rgb(9, 0, 75));
    clip-path: polygon(0 50%, 20% 0, 100% 0, 100% 100%, 20% 100%);
    border: 1px solid black;
    border: none;
    border-top-left-radius: 50px;
    transform: rotate(-10deg);
    overflow: hidden;

}

.small-left-shape {
    z-index: 0;
    position: absolute;
    top: 103%;
    left: 1%;
    width: 13rem;
    height: 3rem;
    border-left: none;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    border: 2.5px solid rgb(0, 0, 70);
    transform: rotate(-10deg);

}

.small-right-shape {
    z-index: 0;
    position: absolute;
    top: 78%;
    right: 1%;
    width: 13rem;
    height: 3rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    border: 2.5px solid rgb(0, 0, 70);
    border-right: none;
    transform: rotate(-10deg);
    overflow: hidden;


}

.small-left-shape::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 11rem;
    width: 2px;
    height: 130%;
    background: rgb(0, 0, 70);
    transform: rotate(30deg);
    transform-origin: bottom left;
}

.small-right-shape::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 11rem;
    width: 2px;
    height: 130%;
    background: rgb(0, 0, 70);
    transform: rotate(-32deg);
    transform-origin: 0 100%;

}

.team-section {
    margin-top: -15rem;
    overflow: hidden;
    margin-bottom: 5rem;
}

.hex-border-container {
    width: calc(14rem + 6px);
    height: calc(14rem + 6px);
    background-color: #c0c0c0;
    margin: 0 1rem;
    padding: 3px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

[class*="hexagon-"] {
    width: 14rem;
    height: 14rem;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 0;
}

.hex-container {
    display: flex;
    flex-direction: column;
    gap: -4rem;
}

.hex-row {
    display: flex;

}

.hex-row:nth-child(even) {
    margin-left: -7.5rem;
}

.hex-row:nth-child(odd) {
    margin-left: 0;
}


.hex-row:first-child {
    margin-left: 25rem;

}


.hex-row:nth-child(2) {
    margin-left: 17.5rem;
    margin-top: -1rem;

}



.hex-row:nth-child(3) {

    margin-top: -0.5rem !important;
    margin: 0 -5rem;

}

.hex-row:nth-child(4) {

    margin-top: -0.5rem !important;
    margin-left: 2.2rem;

}

.hex-row:nth-child(5) {

    margin-top: -0.5rem !important;
    margin-left: -7rem;


}

[class*="hexagon-"] img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(0deg);
    filter: grayscale(100%);
}

.hexagon-r3-3 {
    background-color: rgb(0, 0, 70);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hexagon-r3-3 h3 {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 6rem;
}

.hexagon-r3-3 p {
    color: white;
    font-size: 0.7rem;
    margin: 0;
}



.card-section {
    position: relative;
    width: 100%;
    padding: 2rem 0;

}

.card-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4rem;
    width: 75%;
    margin: auto;
}

.card-heading {
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(0, 0, 60);
}

.small-card {
    flex: 1 1 20%;
    min-width: 260px;
    border-radius: 0.8rem;
    padding: 2.5rem;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 27rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
    position: relative;
}

.small-card i {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    padding-top: 25px;
    background: linear-gradient(to top, rgb(0, 0, 70) 90%, rgb(67, 63, 99));
    color: white;
    border-top-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    margin-bottom: 1rem;
}

.small-card h3 {
    font-weight: 600;
    font-size: 1.35rem;
    margin-bottom: 0.5rem;
}

.small-card p {
    font-size: 0.9rem;
    color: gray;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.small-card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.7rem;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgb(0, 0, 70) 90%, rgb(67, 63, 99));
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}



.investor-section {
    margin-top: 10rem;
    clip-path: polygon(0 20%, 100% 0, 100% 70%, 0 100%);
    position: relative;
    background: #c0c0c0;
    width: 100%;
    height: 40rem;
}

.investor-section .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.investor-section h1 {
    color: rgb(0, 0, 50);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.investor-section p {
    color: rgb(0, 0, 70);
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    width: 50%;
    text-align: center;
}

.image-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.image-bar .investor-1 {
    width: 8rem;
    height: 8rem;
    cursor: pointer;
}

.image-bar .investor-2 {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
}

.image-bar .investor-3 {
    width: 5rem;
    height: 4.5rem;
    cursor: pointer;
}


.work-section {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.work-section .container {
    width: 100%;
    text-align: center;
    padding: 2rem;

}

.work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.work-content h1 {
    font-size: 1.7rem;
    color: rgb(0, 0, 50);
    margin-bottom: 1rem;
    font-weight: 600;
}

.work-content p {
    font-size: 1.1rem;
    color: rgb(114, 113, 113);
    margin-bottom: 1.5rem;
    width: 60%;

}

.two-tiles {
    display: flex;
    flex-direction: column;
    gap: 2rem;


}

.tile-1,
.tile-2 {
    background: rgb(0, 0, 70);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2.5rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 0 auto;
    font-size: 0.7rem;
    font-weight: 600;
    text-align: left;
    cursor: pointer;

}

.tile-1 i {
    margin-left: 25rem;
}

.tile-2 i {
    margin-left: 39rem;
}

.hexagon-under {
    width: 17rem;
    height: 15rem;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
    position: absolute;
    margin-bottom: 2rem;
    background: hsla(0, 25%, 94%, 0.5);
    margin-left: 55rem;
    margin-top: -2rem;
    transform: rotate(12deg);
    z-index: 1;
}

.greeting-section {
    margin-top: 5rem;
    clip-path: polygon(0 20%, 100% 0, 100% 70%, 0 100%);
    position: relative;
    height: 50rem;

}

.greeting-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: relative;
    z-index: 1;
}

.greeting-section .corner-hexagon {
    position: relative;
    z-index: 2;
}

.corner-hexa-1,
.corner-hexa-2,
.corner-hexa-3 {
    width: 6.5rem;
    height: 6.5rem;
    background: linear-gradient(to top, rgb(0, 0, 70) 80%, rgb(67, 63, 99));
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    position: absolute;
}

.corner-hexa-1 {
    top: 2rem;
    left: 5rem;
}

.corner-hexa-2 {
    top: 8rem;
    left: 5rem;
}

.corner-hexa-3 {
    top: 5rem;
    left: 10rem;
}


.newsletter {
    background-color: white;
    width: 60%;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: -11%;
    height: 10rem;
    border: 1px solid rgb(0, 0, 70);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
    border: none;
    transform: translateY(50%);
    z-index: 1;
}

.newsletter .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.newsletter-content {
    width: 55%;
    display: flex;
    padding-top: 2rem;
    padding-left: 3rem;
}

.newsletter-content h2 {
    font-size: clamp(1.3rem, 0.478vw + 1.147rem, 1.8rem);
    margin-bottom: 0.1rem;
    color: rgb(0, 0, 40);
    font-weight: 600;
}

.newsletter-content p {
    font-size: clamp(0.7rem, 0.382vw + 0.578rem, 1.1rem);
    color: rgb(0, 0, 40);
    margin-bottom: 1rem;
}

.newsletter-design {
    margin-top: 1rem;
    width: 45%;
    display: flex;
    gap: 1rem;
}

.newsletter-design button {
    padding: 0.6rem 2rem;
    background: linear-gradient(to top, rgb(0, 0, 70) 90%, rgb(67, 63, 99));
    color: white;
    border: none;
    border-radius: 7px;
    font-size: clamp(0.7rem, 0.382vw + 0.578rem, 1.1rem);
    cursor: pointer;
    border: 3px solid rgb(0, 0, 60);
}

.newsletter-design .btn-2 {
    background: white;
    color: rgb(0, 0, 40);
}



.footer {
    width: 100%;
    height: auto;
    background-color: rgb(211, 211, 211);
    color: black;
    padding: 2rem 0;
    z-index: 2;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.footer-content {
    padding-left: 5%;
    padding-top: 10%;
    display: flex;
    gap: 4rem;
}


.foot-1 ul,
.foot-2 ul,
.foot-3 ul,
.foot-4 ul,
.foot-5 ul {
    list-style: none;
}

.foot-1 h4,
.foot-2 h4,
.foot-3 h4,
.foot-4 h4,
.foot-5 h4,
.foot-6 h4 {
    font-size: clamp(1rem, 0.287vw + 0.908rem, 1.3rem);
    margin-bottom: 0.5rem;
}

.foot-1 ul li,
.foot-2 ul li,
.foot-3 ul li,
.foot-4 ul li,
.foot-5 ul li,
.foot-6 ul li {
    margin-bottom: 0.5rem;
    line-height: 1.3;
}

.foot-1 ul li a,
.foot-2 ul li a,
.foot-3 ul li a,
.foot-4 ul li a,
.foot-5 ul li a {
    text-decoration: none;
    color: grey;
    font-size: clamp(0.8rem, 0.287vw + 0.686rem, 1.2rem);
}



.foot-6 ul {
    list-style: none;
    display: flex;
    font-size: clamp(1.5rem, 0.669vw + 1.286rem, 2.2rem);
    gap: 2rem;
    margin-top: 1rem;

}

.foot-6 ul li a {
    text-decoration: none;
    color: grey;
}


.foot-6 img {
    padding-top: 0.5rem;
    cursor: pointer;
}

.sub-footer {
    width: 100%;
    color: gray;
    background-color: rgb(211, 211, 211);
}

.sub-footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.sub-footer p {
    font-size: clamp(0.7rem, 0.382vw + 0.578rem, 1.1rem);
    padding-top: 1rem;
}